ion-list {
  margin: 0;
}


/*Customize Item List*/
ion-item-sliding{
   background: #f4f4f4 !important;
   margin-bottom: 1px;

   ion-item{
     border: none !important;
     background: #f4f4f4 !important;
   }

   ion-label{
     margin: 0!important;
     padding: 0!important;
   }
}


/*Set Grey Background Color for List*/
ion-item-sliding:nth-child(odd){
  ion-item{
    background:#f4f4f4 !important;
  }
}

/*Set White Background Color for List*/
ion-item-sliding:nth-child(even){
  background:#fff !important;
  ion-item{
    background:#fff !important;
  }
}


/*Setting Reverse Item Sliding Colors*/

ion-item-sliding.reverse:nth-child(odd){
  ion-item{
    background:#fff !important;
  }
}

/*Set White Background Color for List*/
ion-item-sliding.reverse:nth-child(even){
  background:#f4f4f4 !important;
  ion-item{
    background:#f4f4f4 !important;
  }
}

/*-------------------------------------------------------*/

ion-list.product-card {
  padding: 8px;
  background: #eff9ff;
}

/*Create a White Card Grid*/
ion-item-sliding.white{
  background: #fff !important;
  margin-bottom: 8px;

  .item {
    @include box-shadow(0,-1px, 0, rgba(0,0,0,.1), inset);
  }
}

ion-item-sliding:nth-child(even).white{
  background:#fff !important;
  ion-item{
    background:#fff !important;
  }
}

ion-item-sliding:nth-child(odd).white{
  ion-item{
    background:#fff !important;
  }
}

/*Set Element Height*/
ion-list .item .item-inner {
  height: auto;
}

/*Remove Border bottom from Bottom Element*/
ion-item-sliding.active-slide.active-options-right ion-item-options:not([side=left]) {
  border: none;
}

/*Remove Default Margin*/
.item .item-inner {
  padding-right: 0;
}

ion-item-sliding .item-md{
  padding: 0 !important;
}

.list-md .item-block .item-inner {
  border-bottom: none !important;
}

.item-md.item-block .item-inner {
  padding-right:  0 !important;
}

/*Order List Styles*/

.list-view-gen {
  padding: 10px 18px;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 0;
  overflow: hidden;
}

.list-view-gen .custom-padding{
  padding-bottom: 22px;
}

.list-view-gen .bold{
  font-weight: bold;
}

.list-view-gen .text-right{
  text-align: right;
}

.list-view-gen .status{
  font-size: 12px;
  color: $base-blue;
  text-align: right;
}

.list-view-gen .panel-order-date, .panel-order-number{
  display: inline-block;
  font-size: 12px;
  color: #000;
  padding: 2px 20px 2px 0;
}

.list-view-gen .list-label, .list-value{
  padding: 2px 8px 2px 0;
  box-sizing: border-box;
  white-space: normal;
}

.list-view-gen .list-label{
  font-size: 12px;
  color: #787878;
}

.list-view-gen .list-value{
  font-size: 12px;
  color: #000;
}




button.btn-small, button.btn-small:hover{
  font-size: 12px;
  letter-spacing: 0.01em;
  background: $base-blue;
  @include border-radius(4px);
  height: 44px;
  color: #fff;

  &.black{
    background: #000 !important;
  }
}

.input-custom{
  width: 120px;
  font-size: 14px;
  letter-spacing: 0.01em;
  background: white;
  border: none;
  border-radius: 4px;
  height: 44px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

ion-item-sliding.active-slide.active-options-right ion-item-options:not([side=left]) {
  background: #a9dbf9;
  border: none;
  display: flex !important;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

ion-item-sliding.active-slide.active-options-left ion-item-options[side=left] {
  background: #a9dbf9;
  border: none;
  display: flex !important;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.panel-button{
  padding:0 30px;
}
