
/*Primary Fonts*/
$font-base: 'PT Sans', sans-serif;

$base-grey: #9fa9ad;
$base-blue: #00a0ff;
$base-yellow:#f6be00;

.blue-color{color:$base-blue;}
.grey-color{color:#787878;}
.yellow-color{color:$base-yellow;}


